MINIS_READONLY_SQL_CONNECTION='Server=tcp:minis-sql-omer-2026.database.windows.net,1433;Initial Catalog=minis;Persist Security Info=False;User ID=minis_readonly;Password=YOUR_NEW_PASSWORD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;'
